# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Tine Marbjerg\OneDrive - Københavns Erhvervsakademi\1.semester f2021\uge 15 git\SalesSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
